{% extends 'base.html.twig' %}

{% block title %}rgpd{% endblock %}

{% block body %}
    <h1>Condition d' utilisation</h1>
    <p>

Nous nous soucions de votre vie privée. Lorsque Mozilla (nous) recueille des informations vous concernant, la politique de confidentialité de Mozilla décrit la façon dont nous gérons ces informations.

Le présent avis de confidentialité est applicable aux sites Web et applications mobiles exploités par Mozilla, qui comprennent notamment les domaines mozillians.org, mozilla.org et firefox.com. Sont inclus, par exemple, foundation.mozilla.org, bugzilla.mozilla.org, reps.mozilla.org, careers.mozilla.org, developer.mozilla.org, support.mozilla.org, addons.mozilla.org et wiki.mozilla.org.
Ce que vous devez savoir

    Traitement des paiements : À l’exception des paiements réglés par chèque, mandat, prélèvement et virement, Mozilla ne reçoit aucune information financière circulant entre vous et le fournisseur tiers chargé du traitement (Braintree, PayPal, Bitpay, Stripe, etc.). En outre, foundation.mozilla.org a confié la réception des donations à Fundraise Up, organisation tierce.

    Données personnelles : Nous pouvons en outre recevoir votre nom, adresse postale et/ou adresse électronique. Ces données sont utilisées à des fin de détection des fraudes et d’enregistrement (archivage). Nous utilisons Acoustic pour envoyer des reçus par courriel et stocker des enregistrements, qui sont conservés pendant quatre ans à compter de la date du dernier paiement.
</p>
{% endblock %}
