{% extends 'base.html.twig' %}
{% block title %}Log in!{% endblock %}

{% block specificStylesheets %}{% endblock %}

{% block body %}
    <h1>Login</h1>
    {{ form_errors(login) }}

    {{ form_start(login) }}
        {{ form_row(login) }}
        
        <input type="submit" class="btn" value="login">
    {{ form_end(login) }}
{% endblock %}
