{{ form_start(form) }}
    {{ form_errors(form) }} {# Display any form errors at the top #}
    {{ form_row(form.title) }} {# Render the 'title' field individually #}
  
    {# this is the submit bottom #}
    <button type="submit" class="btn-category">Create</button>
{{ form_end(form) }}

