{% extends 'base.html.twig' %}

{% block title %}
	Create the category |
	{{ parent() }}
{% endblock %}

{% block body %}
	
		<h1>Create a Category</h1>
	<section class="category-form">
		{% include 'Backend/category/_form.html.twig' with {button_label: "Create"} %}
	</section>
{% endblock %}
