{% extends 'base.html.twig' %}

{% block title %}
	Modifier une catégorie |
	{{ parent() }}
{% endblock %}

{% block body %}
<h1>Modifier une catégorie</h1>
	<section class="card-list">
		

		
		{% include 'Backend/category/_form.html.twig' with {button_label: "Créer"} %}
		
	</section>
{% endblock %}