{% extends 'base.html.twig' %}

{% block title %}
	Edit a category|
	{{ parent() }}
{% endblock %}

{% block body %}
 

    {% for flashMessage in app.flashes('success') %}
        <div class="flash-message flash-message-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.flashes('error') %}
        <div class="flash-message flash-message-error">
            {{ flashMessage }}
        </div>
    {% endfor %}

 {% block content %}
<h1>Edit a category</h1>
	<section class="card-list">
		
		{% include 'Backend/category/_form.html.twig' with {button_label: "Create"} %}
		
	</section>
{% endblock %}
{% endblock %}
