{% extends 'base.html.twig' %}

{% block title %}
    All Categories
    {{ parent() }}
{% endblock %}

{% block body %}

    {% for flashMessage in app.flashes('success') %}
        <div class="flash-message flash-message-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.flashes('error') %}
        <div class="flash-message flash-message-error">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <h1>All the categories!</h1>

    {% block content %}
        <div>
            {% for category in categories %}
                {% include 'components/_cardCategory.html.twig' with { 'category': category } %}
                {% if category.createdBy == current_user %}
                

                {% endif %}
            {% endfor %}
        </div>
    {% endblock %}
{% endblock %}
