{% extends 'base.html.twig' %}
 
 {% block title %}
    All Articles!
    {{ parent() }}
{% endblock %}

{% block body %}

    {% for flashMessage in app.flashes('success') %}
        <div class="flash-message flash-message-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.flashes('error') %}
        <div class="flash-message flash-message-error">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% block content %}
   <h1>All articles!</h1>
      
         <div class="ALL-article">
            {% for article in articles %}
               {% include 'components/_card.html.twig' %}
            {% endfor %}
         </div>
{% endblock %}




    {# Il tuo codice HTML per la lista degli articoli qui #}
{% endblock %}
