{% extends 'base.html.twig' %}
 
 {% block title %}
    All Articles!
    {{ parent() }}
{% endblock %}

{% block body %}

   <h1>All articles!</h1>
      
         <div class="ALL-article">
            {% for article in articles %}
               {% include 'components/_card.html.twig' %}
            {% endfor %}
         </div>
{% endblock body %}
     