{% extends 'base.html.twig' %}
 
 {% block title %}
    voilà tous les article!
    {{ parent() }}
{% endblock %}

{% block body %}

   <h1>voilà tous les article!</h1>
   <a href="{{ path('admin.article.create') }}" class="btn">Créer un article</a>
   <div class="tous-article">
      {% for article in articles %}
         {% include 'components/_card.html.twig' %}
      {% endfor %}
   </div>
{% endblock body %}
     