/*CSS de l' article*/
.card-list {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em 0;
    margin-left: 1fr;
}

.card-article{
    width: 30%;
    height: 500px;
    background-color: #74BED9;
    padding: 1em;
    margin-left: 50px;
    margin-top: 150px;
    color:black;
    overflow: scroll;
}

.card-title {
    color:black;
    text-shadow: #0000FF 2px 2px 2px;
    position: relative;
    padding: initial;
    justify-content: right;
    text-indent: 10px;
}
.card-text {
   color: rgb(41, 41, 41);
   text-indent: 10px;
   background: white;
   font-size: 12px;

   width: 320px;
}
.form_delete{
    height: 20px;
    width: 65px;
    border:2px solid red;
    background-color: white;
    border-radius: 10%;
    color: black;
}

.btn_danger{
    border:2px solid red;
    background-color: white;
    border-radius: 10%;
    color: black;
}
/*CSS du formulaire article
.form-article{
    

}

#article-title{
    width: 1300px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}
#article-content{
    height: 500px;
    width: 1300px;
    border-radius: 20px;
}
.required{
    text-align: center;
    margin: 10px;
    padding:10px;
}
#article-validate{
    justify-content: center;
    height: 50px;
    width: 150px;
    border-radius: 50%;
}*/