/*CSS de l' article*/
.card-list {
    width: 90%;
    
}
.tous-article{
    display: flex;
}
.card-article{
    border: 2px solid #727272;
    background-color: #74BED9;
    margin: 20px;
    color: black;
    height: auto;
    border-radius: 20px;
}
#cat{
    background-color: #ff0101;
    color:burlywood;
    overflow: visible;
}
.category_title{
    border:solid 2px #0000FF;
    border-radius: 20px;
    width: fit-content;
    color:white;
    background-color: black;
    list-style-type:none;
}
.card-title {
    justify-content: center;
    text-align: center;
    font-display: flex;
    height: auto;
    width: 1100px;
    padding: 15px;
    color: black;
    text-shadow: #0000FF 2px 2px 2px;


}
.card-text {
  border-radius: 20px;
  color: rgb(41, 41, 41);
  text-align: center;
  background: white;
  height: 200px;
  border: 2px solid #727272;
  margin: -15px 20px 20px 20px;
  padding: 10px;
  overflow: scroll;
  font-size: 20px;
}

.card-btn{
    display: inline-flex;
}
.card-article .btn-modify{
    height: auto;
    width: 80px;
    border: 2px solid #727272;
    background-color: white;
    border-radius: 20px;
    color: black;
    margin: -20px 5px 5px 20px;
    display: inline-block;
    padding: 4px;
    }
    
.card-article .btn-delete{
    padding: auto;
    height: 30px;
    width: 80px;
    border: 2px solid #ff0101;
    background-color:#f80707;
    border-radius: 20px;
    color: black;
    margin: 15px 20px;
    }
/*mediaquery*/
@media screen and (max-width: 500px){
    .card-list {
        display: flex;
        flex-direction: column; /* Imposta l'orientamento come colonna */
        align-items: center; /* Allinea gli elementi lungo l'asse trasversale (verticale) */
        margin: -10px 20 ;
        overflow: scroll;
    }

    .tous-article{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: -10px 20px;
        overflow: scroll;
    }

    .card-article{
        width: 100%;

        border: 2px solid #727272;
        background-color: #74BED9;
        margin: 20px;
        color: black;
        padding: 10px;
      
    }
    .card-article .btn-delete{
        padding: auto;
        height: 30px;
        width: 80px;
        border: 2px solid #ff0101;
        background-color:#f80707;
        border-radius: 20px;
        color: black;
        margin: 15px -20px;
    }
}

