/*CSS de category*/
.card-category{
    display: grid;
  }

.card-category-title{
    
    background-color: #74BED9;
    
    color: black;
    text-shadow: #0000FF 2px 2px 2px;
    margin: 20px 10px 30px 10px;
    border: 2px #727272;
    border-radius: 20px;
}
.btn-modifier{
  padding: 2px;
  height: 30px;
  width: 80px;
  border: 2px solid #727272;
  background-color: white;
  border-radius: 20px;
  color: black;
  margin: -25px 12px auto;
}


.btn-delete{
  padding: 2px;
height: 30px;
width: 80px;
border: 2px solid #ff0101;
background-color: #f80707;
border-radius: 20px;
color: black;
margin: -30px 10px 10px 130px;
}
@media screen and (max-width: 901px){
  /*
        .category-form{
            border: 2px solid #727272;
            background-color: #74BED9;
            border-radius: 20px;
            width: 200px;
            height: 130px;
            margin: auto;
            padding: 10px;
            color: #727272;
        
        }
        */
        .card-category{
           color: black;
        
        }
        .card-category-title {
          background-color: #74BED9;
          color: black;
          text-shadow: #0000FF 2px 2px 2px;
          height: 50px;
          border: 2px #727272;
          border-radius: 20px;
          width: 200px;
          text-align: center;
          padding: inherit;
        }
    }