body {
    background-color: rgb(5, 5, 5);
    color:grey;
}
.container{
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 80%;
    grid-template-rows: 30% 70%;
    min-height: 680px;
}

h1{
    text-shadow: #0000FF 2px 2px 2px ;
    color:#74BED9;
    position: relative;
    margin: 0 35%;
}

form{
    border: 2px solid grey;
    width: 160px;
    height: 160px;
    justify-content: center;
    display: block;
    position:relative;
    background-color: #74BED9;
    margin: 0 33%;
}

footer{
    position: relative;
    color: #74BED9;
    justify-content: center;
    
  }

