/* Carousel CSS */
/* Desktop version */

/* Heading 2 */
/* Centers the margin */
h2 {
    margin: auto;
}

/* Figure caption */
/* Sets text color to black and font size to 15px */
figcaption {
    color: black;
    font-size: 15px;
}

/* Container */
/* Defines a flex container with border, padding, margin, shadow, and alignment */
#container {
    display: flex;
    border: 2px solid #727272;
    border-radius: 20px;
    padding: 10px;
    margin: 50px 150px auto 150px;
    -webkit-box-shadow: 0px 5px 50px 25px #74BED9;
    box-shadow: 0px 5px 50px 25px #74BED9;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

/* Figure image */
/* Sets image width and padding */
figure img {
    width: 30%;
    padding: 10px;
}

/* Arrow buttons */
/* Sets width, height, and cursor style */
.arrow {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/* Previous button */
/* Positions to the left */
.previous {
    left: 0;
}

/* Next button */
/* Positions to the right */
.next {
    right: 0;
}

/* Tablet version */
/* This media query applies styles to screens with a width between 810px and 1080px */
@media screen and (min-width: 800px) and (max-width: 1000px) {
    #container {
        display: flex;
        border: 2px solid #727272;
        border-radius: 20px;
        padding: 2px;
        margin: 20px auto auto 150px;
        -webkit-box-shadow: 0px 5px 50px 25px #74BED9;
        box-shadow: 0px 5px 50px 25px #74BED9;
        width: 500px;
    }
    .arrow {
        width: 50px;
        height: 50px;
        cursor: pointer;
        display: ruby;
    }
    .previous {
        left: 0;
    }
    .next {
        right: 0;
    }
}

/* Mobile version */
/* This media query applies styles to screens with a width up to 500px */
@media screen and (max-width: 500px) {
    figcaption {
        color: black;
        font-size: 15px;
    }
    figure img {
        width: 50%;
        padding: 10px;
    }
    #container {
        display: flex;
        border: 2px solid #727272;
        border-radius: 20px;
        padding: 2px;
        margin: 20px;
        box-shadow: 0px 5px 50px 25px #74BED9;
    }
    .arrow {
        position: absolute;
        width: 50px;
        height: 50px;
        cursor: pointer;
        margin: inherit;
    }
    .previous {
        margin: 20px;
    }
    .next {
        margin: 20px;
    }
}
