h2{
    margin: auto;
}
figcaption {
    color: black;
    font-size: 15px;
}
#container {
    display: flex;
    border: 2px solid #727272;
    border-radius: 20px;
    padding: 2px;
    margin: 50px 150px;
    -webkit-box-shadow: 0px 5px 50px 25px #74BED9;
    box-shadow: 0px 5px 50px 25px #74BED9;
}
button {
    height: 40px;
    margin: auto;
}
button:hover{
    box-shadow: -1px 13px 142px 0px #0000FF;
 
}
figure {
    padding:10px;
    max-width: 25%;
}
@media screen and (min-width: 800px) and (max-width: 1000px){
    #container {
        display: flex;
        border: 2px solid #727272;
        border-radius: 20px;
        padding: 2px;
        margin: 20px auto;
        -webkit-box-shadow: 0px 5px 50px 25px #74BED9;
        box-shadow: 0px 5px 50px 25px #74BED9;
        width: 500px;
    }
    button {
        height: 40px;
        width: 100px;
        margin: auto;
    }
}
@media screen and (max-width: 500px){
    figcaption {
        color: black;
        font-size: 15px;
    }
    #container {
        display: flex;
        border: 2px solid #727272;
        border-radius: 20px;
        padding: 2px;
        margin: 20px;
        box-shadow: 0px 5px 50px 25px #74BED9;
    }
    button {
        height: 40px;
        width: 80px;
        margin: auto;
    }
    figure {
        padding:10px;
        max-width: 30%;
    }
}
