/* Concert page */

/* Card article */
.card-article {
    /* Adds shadow effect */
    box-shadow: 0px 5px 50px 25px #74BED9;
    /* Sets border */
    border: 2px solid #727272;
    /* Sets background color */
    background-color: #74BED9;
    /* Margin for positioning */
    margin: auto 50px auto 80px;
    /* Text color */
    color: black;
    /* Adjusts height */
    height: auto;
    /* Sets border radius for rounded corners */
    border-radius: 20px;
    /* Adds padding at the bottom */
    padding-bottom: 20px;
}

/* Card text */
.card-text {
    /* Hides overflow */
    overflow: hidden;
    /* Sets text color */
    color: black;
    /* Adds padding */
    padding: 10px;
    /* Adds margin */
    margin: 10px;
    /* Sets border radius for rounded corners */
    border-radius: 20px;
    /* Sets background color */
    background-color: white;
    /* Sets height */
    height: 150px;
}

/* iPad version */
/* Media query for screens with a width between 810px and 1080px */
@media screen and (min-width: 810px) and (max-width: 1080px) {
    /* Overrides styles for card article */
    .card-article {
        box-shadow: 0px 5px 50px 25px #74BED9;
        border: 2px solid #727272;
        background-color: #74BED9;
        margin: auto 50px auto 80px;
        color: black;
        height: auto;
        border-radius: 20px;
        padding-bottom: 20px;
    }
    
    /* Overrides styles for card text */
    .card-text {
        overflow: scroll;
        color: black;
        padding: 10px;
        margin: 10px;
        border-radius: 20px;
        background-color: white;
        height: 150px;
    }
}

/* Mobile version */
/* Media query for screens with a width up to 500px */
@media screen and (max-width: 500px) {
    /* Overrides styles for card article */
    .card-article {
        box-shadow: 0px 5px 50px 25px #74BED9;
        border: 2px solid #727272;
        background-color: #74BED9;
        margin: auto 50px auto 80px;
        color: black;
        height: auto;
        border-radius: 20px;
        padding-bottom: 20px;
    }
    
    /* Overrides styles for card text */
    .card-text {
        overflow: scroll;
        color: black;
        padding: 10px;
        margin: 10px;
        border-radius: 20px;
        background-color: white;
        height: 150px;
    }
}
