footer{
    display: grid;
    grid-row: 2/2;
    color: #74BED9;
    text-align: center;
    margin: -40px;
    width: 100%;
    grid-column: 2/2;
    
   }
   @media screen and (max-width: 901px){
    footer{
        margin-left:20px;
        display:grid;  
    }
    }

