/* footer's css */
/* desktop version*/
footer {
  color: #000000;
  text-align: center;
  width: 100%;
  display: grid;
  grid-column: 2;
  grid-row: 2;
}

footer a {
  text-decoration: underline;
  color: #000000;
  background-color: white;
}

footer a:hover,
footer a:active {
  text-decoration: underline overline; 
  color: #0000FF;
}

ul.social li {
  display: inline-block;
  margin: 5px;
}

ul.social li img {
  height: 100px;
  width: 100px; 
  padding: 5px;
}
ul.social li.facebook img {
  height: 120px;
  width: 120px;
  margin-bottom: -10px;
}
ul.social li.instagram img {
  height: 90px;
  width: 90px;
  padding: 5px;
  display: block;
}

/* iPad version */ 
/* This media query applies styles to screens with a width between 810px and 1080px */
@media screen and (min-width: 810px) and (max-width: 1080px){
  footer {
    color: #000000;
    text-align: center;
    width: 100%;
    display: grid;
    grid-column: 2;
    grid-row: 2;
  }
  
  footer a {
    text-decoration: underline;
    color: #000000;
    background-color: white;
  }
  #container {
    display: flex;
    border: 2px solid #727272;
    border-radius: 20px;
    padding: 2px;
    margin: 20px auto;
    -webkit-box-shadow: 0px 5px 50px 25px #74BED9;
    box-shadow: 0px 5px 50px 25px #74BED9;
    width: 500px;
  }
  footer a:hover,
  footer a:active {
    text-decoration: underline overline; 
    color: #0000FF;
  }
  
  ul.social li {
    display: inline-block;
    margin: 5px;
  }
  
  ul.social li img {
    height: 100px; 
    width: 100px; 
    padding: 5px;
  }
  ul.social li.facebook img {
    height: 120px;
    width: 120px;
  }
  ul.social li.instagram img {
    height: 100px;
    width: 100px;
    margin-top: -10px;
    padding: 5px;
  }
}

/* Mobile version */
/* This media query applies styles to screens with a width of up to 500px */
@media screen and (min-width: 300px) and (max-width: 799px) {
  .social {
    margin-left: -35px;
    margin-top: 60px;
  }
  ul.social li {
    height: 100px;
    width: 100px;
    margin: 10px;
    display: inline-grid;
  }

  ul.social li.facebook img {
    height: 110px;
    width: 110px;
    display: ruby-text-container;
  }
  ul.social li.instagram img {
    height: 90px;
    width: 90px;
    padding: 5px;
    display: flex;
  }
}

