footer{
    color: #000000;
    text-align: center;
    width: 100%;
    grid-column: 2;
    grid-row: 2;
    
    a:link, a:visited {
        text-decoration: underline;
        color: #000000;
        background-color: transparent;
    }
    a:hover, a:active {
        text-decoration: underline overline;
        color: #0000FF;
    }

    }
    ul.social li{
        height: 100px;
        width: 100px;
        display:inline-block;
      }