.form-login{
  border: 2px solid #727272;
  width: 200px;
  height: 185px;
  background-color: #74BED9;
  padding: 10px;
  color: #000000;
  margin: auto;
  border-radius: 20px;
}
/*les boutons*/
button{
  margin: 10px auto;
  padding: 5px;
  height: auto;
  width: 20vh;
  border: 2px solid #727272;
  background-color: white;
  border-radius: 20px;
  color: black;
  display: inline-block;
}
/*flash messages*/ 
.flash-message {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.flash-message-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.flash-message-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.flash-message-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
/* end flash messages*/
.btn{
  margin: 10px auto;
  padding: 5px;
  height: auto;
  width: 20vh;
  border: 2px solid #727272;
  background-color: white;
  border-radius: 20px;
  color: black;
  display: inline-block;
}

@media screen and (max-width: 500px){
  .form-login{
    border: 2px solid #727272;
    width: 200px;
    height: 185px;
    background-color: #74BED9;
    padding: 10px;
    color: #727272;
    margin: auto;
    border-radius: 20px
    }

  button.btn {
    margin:15px auto;
    border:2px solid #727272;
    background-color: white;
    border-radius: 20px;
    color: black;
    justify-content:center;
    display: block;
    }
        /*navbar button*/
  a.btn{
    height: auto;
    width: auto;
    border: 2px solid #727272;
    background-color: white;
    border-radius: 20px;
    color: black;
    display: table;
        
    }
}
