.form-login{
  border: 2px solid #727272;
  width: 200px;
  height: 185px;
  background-color: #74BED9;
  padding: 10px;
  color: #727272;
  margin: auto;
  border-radius: 20px;
}
/*les boutons*/
button{
  margin: 2vh;
  height: auto;
  width: auto;
  border:2px solid #727272;
  background-color: white;
  border-radius: 20px;
  color: black;
  justify-content: center;
  display: flex;
  padding:10px;
}


.btn{
  margin: 10px;
  padding: 5px;
  height: auto;
  width: auto;
  border: 2px solid #727272;
  background-color: white;
  border-radius: 20px;
  color: black;
  display: inline-block;
}

@media screen and (max-width: 500px){
  .form-login{
    border: 2px solid #727272;
    width: 200px;
    height: 185px;
    background-color: #74BED9;
    padding: 10px;
    color: #727272;
    margin: auto;
    border-radius: 20px
    }

  button.btn {
    margin:15px auto;
    border:2px solid #727272;
    background-color: white;
    border-radius: 20px;
    color: black;
    justify-content:center;
    display: block;
    }
        /*navbar button*/
  a.btn{
    height: auto;
    width: auto;
    border: 2px solid #727272;
    background-color: white;
    border-radius: 20px;
    color: black;
    display: table;
        
    }
}
