/* css navbar */ 
/* desktop version*/
.logo{
  width: 80%;
  display: block;
  margin: 10px;

}
nav{
  border: 2px solid #727272;
  position: absolute;
  background-color: #74BED9;
  min-width: 100px;
  height: 100%;
}
a.btn{
  margin-left: -35px;
  height: auto;
  width: 15vh;
  border: 2px solid #727272;
  background-color: white;
  border-radius: 20px;
  color: black;
}

#menu ul{
      display:block;
      margin: 45px;
      padding:80px;
  }

.checkbox{
  visibility: hidden;
}
a.btn-log{
  margin: 15px auto auto -30px;
  height: 30px;
  width: 15vh;
  border: 2px solid #727272;
  background-color: rgb(0, 255, 140);
  border-radius: 20px;
  color: black;
  display: inline-block;
  padding: 4px;
}
a.btn-logout{
  margin: auto 33px auto -15px;
  height: 30px;
  width: 15vh;
  border: 2px solid #727272;
  background-color: red;
  border-radius: 20px;
  color: black;
  display: inline-block;
  padding: 4px;
}
/*tablet vesion */ 
/* This media query applies styles to screens with a width between 810px and 1080px */
@media screen and (min-width: 810px) and (max-width: 1080px){
  nav{
    border: 2px solid #727272;
    position: relative;
    background-color: #74BED9;
    height: 1000px;
    grid-column:1;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 210px;
  }
  a.btn{
    margin-left: -35px;
    height: auto;
    width: 15vh;
    border: 2px solid #727272;
    background-color: white;
    border-radius: 20px;
    color: black;
  }
  img{
    width:100%;
    padding: 10px;
  }
  
  #menu ul{
        display:block;
        margin: 90px;
        padding:160px;
    }
  
  .checkbox{
    visibility: hidden;
  }
  /*CSS for display >= 500px*/
}
/*CSS for displat >= 500px*/
/*This is version mobile :
version mobile is called with @media for @media queries. Every mediaquery define the size of the screen 
in this case for a creen max of the 500px
*/
@media screen and ( max-width: 500px){

.checkbox{
    visibility: visible;
  }
 
  nav{
  border: 2px solid #72727200;
  display: flex;
  position: relative;
  background-color: #74bed900;
  height: 50px;
  width: 50px;
  margin-left: -50px;
    
  }

  .logo{
    width: 100px;
    display: block;
    margin: 15px auto -100px 60px;

  }

  .home .btn{
  height: 70px;
  width: 80px;
  margin-bottom: -7px;
  margin-left: 150px;
  }
/*I added a css burger menu for the mobile version*/
#menuToggle
{
  display: block;
  position: relative;
  top: 100px;
  z-index: 1;
  margin-left: -70px; 
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
text-decoration: none;
color: #232323;
margin: 70px;
transition: color 0.3s ease;
display: block;
}

#menuToggle a:hover
{
color: #727272;
}


#menuToggle input
{
display: block;
width: 40px;
height: 32px;
position: absolute;
top: -7px;
left: -5px;

cursor: pointer;

opacity: 0; /* hide this */
z-index: 2; /* and place it over the hamburger */

-webkit-touch-callout: none;
}

/*
* Just a quick hamburger
*/
#menuToggle span
{
display: block;
width: 33px;
height: 4px;
margin-bottom: 5px;
position: relative;
background: #727272;
border-radius: 3px;

z-index: 1;

transform-origin: 4px 0px;

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
         background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
         opacity 0.55s ease;
}

#menuToggle span:first-child
{
transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
transform-origin: 0% 100%;
}

/* 
* Transform all the slices of hamburger
* into a crossmark.
*/
#menuToggle input:checked ~ span
{
opacity: 1;
transform: rotate(45deg) translate(-2px, -1px);
background: black;
}

/*
* But let's hide the middle one.
*/
#menuToggle input:checked ~ span:nth-last-child(3)
{
opacity: 0;
transform: rotate(0deg) scale(0.2, 0.2);
}

/*
* Ohyeah and the last one should go the other direction
*/
#menuToggle input:checked ~ span:nth-last-child(2)
{
transform: rotate(-45deg) translate(0, -1px);
}

/*
* Make this absolute positioned
* at the top left of the screen
*/
#menu
{
margin: 10px -115px 20px;
background-color: #74BED9;
border: 2px solid #727272;
display: block;
list-style-type: none;
transform-origin: 0% 0%;
transform: translate(-100%, 0);
transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
width: 265px;
height: 450px;
position: absolute;
/* to stop flickering of text in safari */

transform-origin: 0% 0%;
transform: translate(-100%, 0);

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
li{
  margin-bottom: -50px;
}
.btn li
{
display: grid;
margin: 10px;
}
a.btn-log{
  margin: 15px auto auto -30px;
  height: 30px;
  width: 15vh;
  border: 2px solid #727272;
  background-color: rgb(0, 255, 140);
  border-radius: 20px;
  color: black;
  display: inline-block;
  padding: 4px;
}
a.btn-logout{
  margin: auto 33px auto auto;
  height: 30px;
  width: 15vh;
  border: 2px solid #727272;
  background-color: red;
  border-radius: 20px;
  color: black;
  display: inline-block;
  padding: 4px;
}

/*
* And let's slide it in from the left
*/
#menuToggle input:checked ~ ul
{
transform: none;
}

} 