/*profile page */
.form-profile{
  border: 2px solid #727272;
  width: 250px;
  height: 250px;
  background-color: #74BED9;
  padding: 42px;
  color: black;
  margin: auto;
  border-radius: 20px;
}
  /* all buttons */ 
.buttons{
  display: inline-flex;
  margin: 20px 5px auto -5px;
}

.btn-modify-user{
  /* Sets the height of the modify button */
  height: 30px;
  /* Sets the width of the modify button */
  width: 80px;
  /* Adds a solid border of 2px with grey color */
  border: 2px solid #727272;
  /* Sets the background color to bright green */
  background-color: #00FF8C;
  /* Rounds the corners of the button */
  border-radius: 20px;
  /* Sets the text color to black */
  color: black;
  /* Centers the button horizontally */
  margin: auto;

  /* Adds padding to the button */
  padding: 4px;
  /* Removes the default list style */
  list-style: none;
}