.registrationForm{
    border: 2px solid grey;
    width: 200px;
    height: 250px;
    background-color: #74BED9;
    padding: 10px;
    color: gray;
    margin:auto;
    border-radius: 20px;
}

/*les boutons*/

.registrationForm .btn{
    margin: 2vh;
    padding:13px;
    height: auto;
    width: auto;
    border:2px solid #727272;
    background-color: white;
    border-radius: 20px;
    color: black;
    justify-content: center;
    
}



@media screen and (max-width: 500px){
    .registrationForm{
        border: 2px solid grey;
        width: 210px;
        height: 200px;
        background-color: #74BED9;
        padding: 10px;
        color: gray;
        margin:auto;
        border-radius: 20px;
        }

    a.btn{
        margin-left: 150px;
        height: auto;
        width: auto;
        border: 2px solid #727272;
        background-color: white;
        border-radius: 20px;
        color: black;
    }
    button {
        border:2px solid #727272;
        background-color: white;
        border-radius: 20px;
        color: black;
        justify-content:center;
        display: block;
        margin: 10px;
          }
    
}