<!DOCTYPE html>
<!-- This is the view twig base: the common structure for all webpages of my forum-->
<html>
    <head>    
        <title>{% block title %}IcedTears{% endblock %}</title>
        <meta charset="UTF-8" lang="en_EN">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content=" Homepage of my Metal forum, You will be wellcome if you are a metalhead and not accepted posers!" />
        <link rel="icon"
            href="{{ '/img/' ~ 'fav.png' }}"
            type="image/x-icon"
            src="" />
        
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
                {% block specificStylesheets %}{% endblock %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
           
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% include 'components/_navBar.html.twig' %}      
                <main>
                    {% block body %}
                    
                    {% endblock %}
                </main>
            {% include 'components/_footer.html.twig' %} 
        </div>
    </body>
</html>
