<!DOCTYPE html>
<!-- This is the view twig base: the common structure for all webpages of my forum-->

<html lang="en" data-theme="dark">

    <head>    
        <title>{% block title %}IcedTears{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Welcome to IcedTears, the ultimate Pop Music forum. Join us you are welcome!">
        <link rel="icon" href="{{ asset('/img/fav.png') }}" type="image/x-icon" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        {# Include parent stylesheets and add additional stylesheets specific to the page #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {% block specificStylesheets %}{% endblock %}
        {% endblock %}

        {# Include parent JavaScript files and add additional JavaScript files specific to the page #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
    </head>
    <body>
        <div class="container">
            {# Include the navigation bar component #}
            {% include 'components/_navBar.html.twig' %}      
                <main>
                    {# Start of the body block #}
                    {% block body %}
                       <section id="container">
                    
                    {# Start of the content block #}
                    {% block content %}

                    {# End of the content block #}
                    {% endblock %}
                    
                    {# End of the body block #}
                     {% endblock %}
                </main>
            {# Include the footer component #}
            {% include 'components/_footer.html.twig' %} 
        </div>
    </body>
</html>