{% extends 'base.html.twig' %}

{% block body %} 
    <h1>IcedTears</h1> 
  <a href="{{ path('admin.article.create') }}">Créer un article</a>
  <a href="{{ path('admin.article.read')}}"> tous les articles</a>
{% endblock %}