{% extends 'base.html.twig' %}

{% block body %} 
    <h1>IcedTears</h1> 
  <a href="{{ path('admin.article.create') }}" class="btn">Créer un article</a>
  <a href="{{ path('admin.article.read')}}" class="btn"> tous les articles</a>
  <a href="{{ path('admin.category.create') }}" class="btn">Créer une category</a>
{% endblock %}