{% extends 'base.html.twig' %}

{% block title %}Cookies{% endblock %}


{% block body %}
<h1>Cookies politique</h1>
    <p>
        Introduction générale :"Notre site utilise des cookies pour améliorer votre expérience de navigation. En continuant à utiliser notre site, vous acceptez notre utilisation de cookies conformément à notre politique de confidentialité."

    Précision sur les types de cookies utilisés :"Nous utilisons différents types de cookies sur notre site, notamment des cookies de performance, de fonctionnalité et de ciblage. Les cookies de performance nous permettent d'évaluer l'efficacité de notre site et d'améliorer ses performances. Les cookies de fonctionnalité nous permettent de vous offrir une expérience personnalisée en fonction de vos préférences. Les cookies de ciblage nous permettent de vous proposer du contenu et de la publicité adaptés à vos centres d'intérêt."

    Précision sur la gestion des cookies :"Vous pouvez gérer vos préférences en matière de cookies en modifiant les paramètres de votre navigateur ou en utilisant des outils de gestion de cookies tels que le module de gestion de cookies de notre site. Vous pouvez également refuser tous les cookies en configurant votre navigateur de manière appropriée."

    Mention de la politique de confidentialité :"Pour en savoir plus sur notre utilisation des cookies et sur la manière dont nous traitons vos données personnelles, veuillez consulter notre politique de confidentialité."
    </p>
{% endblock %}
