<div class="card-article">
    <h1 class="card-title">{{category.title}}</h1>
     
    
    <a href="{{ path('admin.category.edit', {id: category.id}) }}" class="btn">Modifier</a>

    <form class="form-delete" method="POST" action="{{ path('admin.category.delete', {'id': category.id}) }}"
    onsubmit="return confirm('Êtes-vous sùr de vouloir supprimer cet article ?')">
        <input type="hidden" name="token" value="{{ csrf_token('delete' ~ category.id) }}">
        <button class="form_delete">Supprimer</button>
    </form>

</div>