<div>
                {% block body %}
                    <a href="{{ path('home') }}">
                        <img src="{{ asset('img/logo.png') }}" alt="My logo is cool!">
                    </a>
                {% endblock %}
</div>