<mainzz>
                {% block body %}
                <a href="{{ path('home') }}">
                    <img src="{{ asset('img/logo.png') }}" alt="C'est un fichier">
                </a>
                {% endblock %}
</main>