<footer>
    Maria Paola Mingrino tél: 0752029237 addresse email:marypolly88@gmail.com
    <a href="{{ path('cookies') }}">Cookies Policy</a>
    <a href="{{ path('rgpd') }}">Condition d' utilisation</a>
</footer>