<nav>
    <div>
        <img src="{{ asset('img/logo.jpg') }}" alt="C'est un fichier">
        <li>
            <ul><a href="/login">login</a></ul>
        </li>
    </div> 
    
    <div>
        <li>
            <ul><a href="/register"> subscribe</a></ul>
        </li>
    </div>
    
    
</nav> 
