<nav>
    <div>
    <a href="{{ path('home') }}">
        <img src="{{ asset('img/logo.jpg') }}" alt="C'est un fichier">
    </a>
        <li>
            <ul><a href="/login">Login!</a></ul>
        </li>
    </div> 
    
    <div>
        <li>
            <ul><a href="/register"> Register!</a></ul>
        </li>
    </div>
    
    
</nav> 
