<nav>
    <div>
        <a class="logo" href="{{ path('home') }}">
            <img src="{{ asset('img/logo.png') }}" alt="C'est un fichier">
        </a>
        <li>
                
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <ul><a href="{{ path('app_logout') }}" class="btn">Logout</a></ul>    
            {% else %}
                <ul><a href= "{{ path('login') }}" class="btn"> Login</a></ul>
                <ul><a href="/register" class="btn"> Register</a></ul>
            {% endif %}
            
        </li>
    </div> 
  
   
</nav> 
