<nav role="navigation"> 
<a href="{{ path('home') }}"><img src="{{ asset('img/logo.png') }}" alt="C'est un fichier"></a>
 

    
           <div id="menuToggle">
 <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
        
            
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="{{ path('app_logout') }}" class="btn">Logout</a>    </li>
            {% else %}
               <li> <a href= "{{ path('login') }}" class="btn">Login</a></li>
               <li> <a href="/register" class="btn">Register</a> </li>
            {% endif %}
            
        </ul>
    </div> 
  
   
</nav> 
